* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

// Header Start
// --------------
#header {
    position: fixed;
    width: 100%;
    z-index: 10000;

    // .top-header start
    .top-header {
        padding: 15px;
        width: 100%;
        background-color: #1A2B48;

        .mainDropdown {
            .dropmenu {
                background-color: #1A2B48;
                padding-right: 30px;
            }

            &:hover {
                .dropmenu {
                    display: block;

                    li {
                        color: white;
                    }
                }
            }
        }

        .sosial-icons {
            i {
                color: aliceblue;
                padding: 8px;
            }

            a {
                color: #FFF;
                font-weight: 400;
                font-size: 16px;
                padding-top: 2px;
            }
        }

        .text-header {
            li {
                padding-right: 20px;

                a {
                    cursor: pointer;
                    color: white;
                    text-decoration: none;
                    font-family: 'Poppins', sans-serif !important;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                i {
                    padding-left: 8px;
                }
            }
        }
    }

    // TOP HEADER END
    // ----------------
    // NAVBAR START
    .navbar {

        cursor: pointer;
        z-index: 20;
        padding: 20px;

        .mainDropdown {
            &:hover {
                .pages-text {
                    display: block;
                }
            }

            li {
                color: #6E7C85;

                &:hover {
                    color: #5191FA;
                }
            }
        }

        .all-text {

            li {
                font-weight: 600;
            }

            position: relative;

            .bigDropped {

                &:hover {
                    .mainbigDropdown {
                        border-radius: 15px;
                        transform: translateY(0);
                        opacity: 1;
                        visibility: visible;
                    }

                }

                .mainbigDropdown {
                    opacity: 0;
                    padding: 25px;
                    visibility: hidden;
                    position: absolute;
                    left: 0;
                    top: 100%;
                    width: 100%;
                    background: white;
                    color: #000;
                    transform: translateY(20px);
                    transition: .3s ease-in-out;

                    ul {
                        list-style: none;


                        li {
                            border-bottom: 1px solid black;

                            padding-top: 4px;
                            color: #8D979E;
                            font-size: 14px;
                            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

                            &:hover {
                                color: #5192FA;
                            }
                        }
                    }


                }

            }

            li {
                padding-right: 15px;

                a {
                    text-decoration: none;
                    color: white;
                    font-size: 14px;
                    padding-left: 20px;

                    &:hover {
                        color: #5192FA;
                    }
                }
            }


        }

        .button1 {
            font-size: 17px;
            background-color: #FA5636;

            &:hover {
                background-color: #D3482E;
            }
        }
    }
}

// ------------
// HEADER END
// SECTION1 START
#section1 {
    width: 100%;
    height: 600px;
    background-image: url(../photo/background1.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    .hi-there {
        position: absolute;
        padding-top: 180px;


        h1 {
            font-weight: 500;
            font-size: 54px;
            color: #FFF;

        }

        p {
            padding-top: 7px;
            font-size: 18px;
            color: #FFF;
            font-family: 'Poppins', sans-serif !important;
            font-weight: 400;
        }
    }

}

// SECTION1 END
// ----------------
// SECTION2 START
// -----------
#section2 {
    .holiday1 {
        background-image: url(../photo/section2\ 1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 60px 0 65px 0;
        
        border-radius: 10px;
        .see {
            opacity: 0;
            transition: .3s;
            color: #ffffff;

            &:hover {
                color: #5693FA;
                background-color: white;
            }
        }

        .holiday-middle {
            transform: translateY(0px);
            transition: .3s;

        }

        &:hover {
            .holiday-middle {

                transform: translateY(-50px);
            }

            .see {
                opacity: 1;
                border: 1px solid white;
            }
        }


        .holidaybtn {
            background-color: #FA5636;
            border: none;

            &:hover {
                background-color: #D3482E;

            }
        }

        h2 {
            color: white;
            margin-top: 60px;


        }

        p {
            color: white;
            width: 51%;
            font-size: 14px;
        }


    }
}

// ------------
.holiday2 {
    border-radius: 10px;
padding: 60px 0;
    background-image: url(../photo/section2\ 2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    left: 30px;

    i {
        color: white;
        font-size: 35px;
    }

    h2 {
        font-size: 35px;
        color: white;
        margin-top: 60px;
        margin-bottom: 18px;
    }

    p {
        color: white;
        font-size: 15px;
    }

   

    .holiday-middle {
        transform: translateY(0px);
        transition: .3s;
    }
 .see2 {
        opacity: 0;
        transition: .3s;
        color: #ffffff;

        &:hover {
            color: #5693FA;
            background-color: white;
        }
        
    }
    &:hover {
        .holiday-middle {

            transform: translateY(-50px);
        }

        .see2 {
            opacity: 1;
            border: 1px solid white;
        }
    }

}

.holiday3 {
    padding: 60px 0;
    border-radius: 10px;
    background-image: url(../photo/section\ 3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    i {
        color: white;
        font-size: 35px;
  
    }

    h2 {
        font-size: 35px;
        color: white;
        margin-top: 60px;
        margin-bottom: 18px;
    }

    p {
        color: white;
        font-size: 15px;
    }
    .holiday-middle {
        transform: translateY(0px);
        transition: .3s;
    }
    .see3 {
        opacity: 0;
        transition: .3s;
        color: #ffffff;

        &:hover {
            color: #5693FA;
            background-color: white;
        }
        
    }
    &:hover {
        .holiday-middle {

            transform: translateY(-50px);
        }

        .see3 {
            opacity: 1;
            border: 1px solid white;
       
        }
    }


}

// -------------
// SECTION2 END
// SECTION3 START
// --------------
#section3{
    .imgBox{
        width: 30%;
        margin: 12px 10px;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        .imgText{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            h4{
                color: #FFf;
                font-weight: bold;
                font-size: 20px;
            }
        }
        &:hover{
            img{
                transform: scale(1.2);
            }
        }
        img{
            transition: all .4s;
            width: 100% !important;
        }
    }
    
}